* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #333;
    background: #4f4f4c;
  }
  
  table {
    background-color: white;
    text-align: left;
    line-height: 40px;
    border-collapse: separate;
    border-spacing: 0;
    border: 2px solid #373938;
    width: 500px;
    margin: 50px auto;
    border-radius: .25rem;
  }
  
  thead tr:first-child {
    background: #373938;
    color: #fff;
    border: none;
  }
  
  th:first-child,
  td:first-child {
    padding: 0 15px 0 20px;
  }
  th {
    font-weight: 500;
  }
  
  thead tr:last-child th {
    border-bottom: 3px solid #ddd;
  }
  
  tbody tr:hover {
    background-color: #f2f2f2;
    cursor: default;
  }
  
  tbody tr:last-child td {
    border: none;
  }
  
  tbody td {
    border-bottom: 1px solid #ddd;
  }
  
  td:last-child {
    text-align: right;
    padding-right: 10px;
  }
  
  .button {
    color: #aaa;
    cursor: pointer;
    vertical-align: middle;
    margin-top: -4px;
  }
  
  .edit:hover {
    color: #0a79df;
  }
  
  .delete:hover {
    color: #dc2a2a;
  }

  .centrado {
     text-align: center;
  }

  .icono_chico {
    width: 35px;
    height: 35px;
  }
  .icono_mediano {
    width: 100px;
    height: 100px;
  }

  .fondo_rojo {
    background-color: #B91414;
  }

  .letra_blanca {
    color: #ffffff;
  }

  .sin_borde {
    border: none;
  }

  .boton_inferior {
    background-color: #B91414;
    color: #ffffff;
    border: none;
  }
  img.pequeña{
    width: 10px; height: 10px;
  }
  .encabezado{
    text-align: center;
    background-color: #4f4f4c;
    color: #fff; 
    border-radius: 5px;
  }